.about-heading{
    h2{
        margin-top: 50px;
        font-weight: 400;
      font-size: 28px;
      color: #3B566E;
      letter-spacing: 1.75px;
      line-height: 38px;
      margin-bottom: 20px;
      text-align: center;
    }
    
}

.about-text{
    font-weight: 400;
    font-size: 16px;
    color: #6F8BA4;
    line-height: 28px;
    letter-spacing: 1px;
    margin-bottom: 50px;

    p{
        text-align: center;
    }
}
