.welcome-area {
    overflow: hidden;
    position: relative !important;
    padding-top: 150px;
    padding-bottom: 100px;
    transform-style: preserve-3d;

    &::after{
        content: '';
        position: static;
        width: 100%;
        height: 100%;
        background: none;
        z-index: 3;
    }

    .header-text{
        h1{
            font-weight: 400;
            font-size: 28px;
            color: #1E3056;
            line-height: 46px;
            letter-spacing: 0.93px;
            margin-bottom: 20px;
            
            span{
                color: #585CE9;
            }
        }
        p{
            font-weight: 400;
            font-size: 16px;
            color: #697BA2;
            line-height: 28px;
            letter-spacing: 1px;
            margin-bottom: 40px;
            position: relative; 
        }

        .btn-primary-line{
             padding-left: 25px;
                padding-right: 25px;
                border: 1px solid #585CE9;
                border-radius: 5px;
                display: inline-block;
                height: 32px;
                margin-top: 5px;
                line-height: 31px;
                letter-spacing: 0.5px;
                background: #585CE9;
                color: #fff;
                position: relative;
                overflow: hidden;
                margin-left: 15px;
                margin-top: 32px;
                font-weight: 700;
                font-size: 12px;
                transition: all 0.3s ease 0s;
                min-width: 110px;
                text-align: center;

                &:hover{
                    background: #fff;
                    color: #585CE9;
                }
            
        }
    }
    .home-img-group{
        position: relative;
        height: 543px;

        .home-img{
            width: 100%;
            height: 200px;
            margin-bottom: 2%;
            border-radius: 5px;
            
            .img-1{
                width: 49%;
                height: 332px;
                float: left;
                position: absolute;
                top: 0px;
                left: 0px; 
            }

            .img-2{
                width: 49%;
                height: 251px;
                float: right;
                position: absolute;
                top: 0px;
                right: 0px;   
            }

            .img-3{
                width: 49%;
                float: left;
                position: absolute;
                bottom: 0px;
                left: 0px;
                margin-bottom: 0px;
                
                .play-button-wrapper{
                    position: absolute;
                    width: 100%;
                    top: 48%;
                    left: 0px;
                            transform: perspective(1px) translateY(-45%);
                    z-index: 4;
                    right: 0px;

                    .btn-play{
                        width: 60px;
                        height: 60px;
                        line-height: 60px;
                        text-align: center;
                        font-size: 22px;
                        color: #fff;
                        margin: auto;
                        left: 0px;
                        right: 0px;
                        display: block;
                        border: 1px solid #fff;
                        border-radius: 100px;
                        position: absolute;
                        overflow: hidden;
                        top: 50%;
                                transform: perspective(1px) translateY(-50%);
                        z-index: 3;

                        &::before{
                            content: '';
                            position: absolute;
                            width: 100%;
                            height: 100%;
                            left: 0px;
                            top: 0px;
                            background: #fff;
                            opacity: .25;
                            z-index: 1;
                        }

                        i{
                            padding-left: 5px;
                            position: relative;
                            z-index: 2;
                        }
                    }
                }
            }

            .img-4{
                width: 49%;
                height: 281px;
                float: right;
                position: absolute;
                bottom: 0px;
                right: 0px;
                margin-bottom: 0px;
                
                &::after{
                    content: '';
                    position: absolute;
                    background: #585CE9;
                    z-index: 2;
                    width: 100%;
                    height: 100%;
                    top: 0px;
                    left: 0px;
                    opacity: .80;
                }

                .content{
                    position: absolute;
                    z-index: 3;
                    width: 100%;
                    height: 100%;
                    top: 0px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    .text{
                        position: relative;
                        z-index: 3;
                        padding-left: 15px;
                        padding-right: 15px;

                        strong{
                            display: block;
                            color: #fff;
                            font-weight: 400;
                            font-size: 14px;
                            letter-spacing: 0.88px;
                            margin-bottom: 10px;
                        }

                        p{
                            display: block;
                            color: #fff;
                            font-weight: 400;
                            font-size: 18px;
                            letter-spacing: 1.12px;
                            line-height: 28px;
                            margin-bottom: 0px;
                            padding-bottom: 0px;
                        }
                    }
                }
            }
        }
    }
  }

  .images{

    display: flex;
    flex-wrap: wrap;
    margin-top: 120px;
    overflow: hidden;
    .img-1,.img-2,.img-3,.img-4{
    
    
    z-index: 0;
   
    min-width: auto !important;
   border-radius: 20px;
    display: flex;
    margin-top: 20px;
    margin-left: 5px;

    &:hover{
        transform:scale(1.1);
        transition: 0.5s;
    }
}

    }
    .img-1{
        width: 49%;
        height: 332px;
    }

    .img-2{
        width: 49%;
    height: 251px;
    }

    .img-3{
    width: 49%;
    height: 281px;
    }
    .img-4{
        width: 49%;
    }